footer {
  position: fixed;
  width: 100%;
  left: 0px;
}

.container {
  position: fixed;
  bottom: 5rem;
}

.bi {
  vertical-align: -.125em;
  fill: white;
}

i {
  color: white;
}

i:hover {
  color: cyan;
  text-decoration: cyan;
}
