<div class="container">
  <div class="row">
    <div class="col text-center">
      <div class="my-auto title-container">
        <h1 @slideIn class="title">
          Hi, it's Alvaro Garibay<span class="cursor">;</span>
        </h1>
        <h4 @slideIn class="subtitle">Software Developer Full Stack<span class="cursor">;</span></h4>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div @slideIn class="d-flex welcome mx-auto mb-4">
          <p style="color: #9CDCFE;">console</p>
          <p style="color:#ecf000">.log(</p>
          <p style="color: #ffce49;">"Welcome to my portfolio 🚀"</p>
          <p style="color: #ecf000;">)<span class="cursor">;</span></p>
        </div>
      <img @slideIn class="main-photo mx-auto" src="https://i.blogs.es/c7a21f/gojo-satoru/500_333.jpeg" alt="">
      </div>
    </div>
  </div>
</div>
