<div class="container">
  <div class="row mt-5">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title" style="font-weight: bold;">Personal Management</h3>
          <h5 class="card-text" style="font-weight: bold;">(Java, Spring, Angular, PostgreSQL, Bootstrap)</h5>
          <p class="card-text">Project for employees Management, database located in supabase, code available on GitHub</p>
        </div>

        <div id="carouselExample" class="carousel slide mb-5">
          <div class="carousel-inner">
            <!-- Slide 1 -->
            <div class="carousel-item active">
              <div class="d-flex justify-content-center">
                <img src="assets/login.jpg" class="d-block mx-auto evd" alt="...">
                <img src="assets/employees.jpg" class="d-block mx-auto evd" alt="...">
                <img src="assets/stadistics.jpg" class="d-block mx-auto evd" alt="...">
              </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item">
              <div class="d-flex justify-content-center">
                <img src="assets/departments.jpg" class="d-block mx-auto evd" alt="...">
                <img src="assets/department_employees.jpg" class="d-block mx-auto evd" alt="...">
                <img src="assets/profile.jpg" class="d-block mx-auto evd" alt="...">
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" style="width: 6rem;" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" style="width: 6rem;" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="p-3 git-container">
          <a href="https://github.com/AlvaroGaribay1/Personal_Management.git" class="git"><i class="bi bi-github"></i>View source code</a>
        </div>

      </div>
    </div>
  </div>

  <!-- second project -->
  <div class="row mt-5">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">In creation</h3>
          <h5 class="card-text">---------</h5>
          <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore a minima accusamus, asperiores quos ipsum vero, totam autem dolorem quo corporis praesentium natus quaerat earum error adipisci tempore maxime dicta.</p>
        </div>

        <div id="carousel2" class="carousel slide mb-5">
          <div class="carousel-inner">
            <!-- Slide 1 -->
            <div class="carousel-item active">
              <div class="d-flex justify-content-center">
                <i class="d-block w-25 mx-auto evd bi bi-upload"></i>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" style="width: 6rem;" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" style="width: 6rem;" type="button" data-bs-target="#carousel2" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
